/* Author: Armando Fernandez
   Date: 10/11/2020
   Version: 1.0
Font Notes: font-family: 'Bungee', cursive;
font-family: 'Press Start 2P', cursive
*/

#tetris {
  border: 5px solid white;
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
}

.container {
  background-color: rgb(101, 53, 164);
}

#score {
  font-family: "Press Start 2P";
  color: white;
}

#gameTitle {
  font-family: "Bungee";
  color: black;
}

#scoreLabel {
  font-family: "Press Start 2P";
  color: white;
}

body {
  background-color: rgb(30, 30, 30);
}

.rotateButtons {
  margin-left: 10px;
}

.midbg {
  background-image: url("bg.jpeg");
  border-radius: 10px;
}

.controller-title {
  color: white;
  font-family: "Bungee";
  padding-top: 15px;
}
.controller {
  background-color: black;
}
.rotate {
  float: right;
  margin: 7px;
}

.drop {
  margin-top: 30px;
}

.center {
  text-align: center;
}

p {
  color: white;
}

.rotate-buttons {
  margin-left: 20px;
}

.keyboard-controls {
  font-size: medium;
}
